*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 40px;
    border: 5px solid black;
    max-width: 100px;
    padding: 20px;
}
label{
    
    display: flex;
    flex-direction: column;
    max-width: 100px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
}